body{
background:#f2f3f6
/*background:#f2f2f2*/

}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: black;
}
.card
{
    border-radius: 6% 0% 0% 6%;
    
}


@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}