body{
background:#f2f3f6
/*background:#f2f2f2*/

}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: black;
}
.card
{
    border-radius: 6% 0% 0% 6%;
    
}
